# Introduction
Maps allow us to transform data in a `DataFrame` or `Series` one value at a time for an entire column. However, often we want to group our data, and then do something specific to the group the data is in. We do this with the `groupby` operation.

In these exercises we'll apply groupwise analysis to our dataset.

# Relevant Resources
- [**Grouping Reference and Examples**](https://www.kaggle.com/residentmario/grouping-and-sorting-reference).  
- [Pandas cheat sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)

In [7]:
import pandas as pd
import sys

sys.path.append("../../input/advanced-pandas-exercises/")
from grouping_and_sorting import *

reviews = pd.read_csv("../../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [10]:
reviews.head(3)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

**Exercise 1**: Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [30]:
# Your code here

print(reviews.groupby('taster_twitter_handle').taster_twitter_handle.count())
print()

print(reviews.taster_twitter_handle.count())
print()

print(reviews.taster_twitter_handle.value_counts())

# common_wine_reviewers = _______
# check_q1(common_wine_reviewers)

taster_twitter_handle
@AnneInVino        3685
@JoeCz             5147
                   ...
@winewchristina       6
@worldwineguys     1005
Name: taster_twitter_handle, Length: 15, dtype: int64

98758

@vossroger         25514
@wineschach        15134
                   ...
@bkfiona              27
@winewchristina        6
Name: taster_twitter_handle, Length: 15, dtype: int64

In [16]:
answer_q1()

reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()

**Exercise 2**: What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the valeus by price, ascending (so that `4.0` dollars is at the top and `3300.0` dollars is at the bottom).

In [41]:
# Your code here

reviews.groupby('price').points.max().sort_index(axis=0, ascending=False)

# best_wine = ______
# check_q2(best_wine)

price
3300.0    88
2500.0    96
          ..
5.0       87
4.0       86
Name: points, Length: 390, dtype: int64

In [38]:
answer_q2()

reviews.groupby('price').points.max().sort_index()

**Exercise 3**: What are the minimum and maximum prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min` and `max` values thereof.

In [51]:
# Your code here

print(reviews.groupby('variety').price.max())
print()

print(reviews.groupby('variety').price.agg([min, max]))

# wine_price_extremes = _____
# check_q3(wine_price_extremes)

variety
Abouriou       75.0
Agiorgitiko    66.0
               ...
Çalkarası      19.0
Žilavka        15.0
Name: price, Length: 707, dtype: float64

              min   max
variety
Abouriou     15.0  75.0
Agiorgitiko  10.0  66.0
...           ...   ...
Çalkarası    19.0  19.0
Žilavka      15.0  15.0

[707 rows x 2 columns]

In [52]:
answer_q3()

reviews.groupby('variety').price.agg([min, max])

The rest of the exercises are visual.

**Exercise 4**: Are there significant differences in the average scores assigned by the various reviewers? Create a `Series` whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the `taster_name` and `points` columns.

In [64]:
reviews.groupby('taster_name').points.mean()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
                        ...
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, Length: 19, dtype: float64

In [65]:
answer_q4()

reviews.groupby('taster_name').points.mean()

**Exercise 5**: What are the most expensive wine varieties? Create a `DataFrame` whose index is wine varieties and whose values are columns with the `min` and the `max` price of wines of this variety. Sort in descending order based on `min` first, `max` second.

In [72]:
reviews.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'])

              min   max
variety
Pinot Grigio  4.0  70.0
Malbec-Syrah  4.0  78.0
...           ...   ...
Vital         NaN   NaN
Zelen         NaN   NaN

[707 rows x 2 columns]

In [71]:
answer_q5()

reviews.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)

**Exercise 6**: What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count.

Hint: first run `reviews['n'] = 0`. Then `groupby` the dataset and run something on the column `n`. You won't need `reset_index`.

In [87]:
reviews['n'] = 0
print(reviews.groupby(['country', 'variety']).n.count().sort_values(ascending=False))

country    variety
US         Pinot Noir            9885
           Cabernet Sauvignon    7315
                                 ...
Italy      Moscato di Noto          1
Argentina  Barbera                  1
Name: n, Length: 1612, dtype: int64

In [88]:
answer_q6()

reviews['n'] = 0
reviews.groupby(['country', 'variety']).n.count().sort_values(ascending=False)